page-item-detail {

  ion-content{
    .scroll-content{
      padding: 16px 32px !important;
      .item-img {
        width: 200px;
        margin: auto;
        display: block;
      }
      h2{
        font-weight: bold;
        margin-bottom: 0.1em;
      }
      .secondary-info{
        //font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
        color: map-get($colors, dark-gray);
        span{
          color: map-get($colors, secondary);
          span{
            color: map-get($colors, primary);
          }
        }
      }
      .date-time{
        margin-top: 2em;
        margin-bottom: 2em;
        h5{
          margin: 0;
          font-size: 1.2rem;
          color: orange;
        }
        p{
          line-height: 2.1rem;
          .label{
            color: map-get($colors, dark-gray);
            vertical-align: middle;
            min-width: 6rem;
            width: 6rem;
            display: inline-block;
          }
          button{
            vertical-align: middle;
            border-radius: 0;
          }
        }
      }
      .request-to-borrow{
        .button-inner{
          font-size: 1.8rem;
          font-weight: bold;
          color: black;
        }
        &.requested{
          .button-inner{
            font-size: 1.8rem;
            font-weight: normal;
            color: map-get($colors, primary);
          }
        }
        &.requesting{
          border-color: #989898;
          .button-inner{
            font-size: 1.8rem;
            font-weight: normal;
            color: #989898;
          }
        }
      }
      h3{
        margin-bottom: 0.2rem;
        margin-top: 2.4rem;
        font-size: 1.6rem;
      }
      .lender-info{
        h5{
          margin-top: 1rem;
          color: dodgerblue;
          ion-icon{
            vertical-align: top;
          }
        }
      }
    }
  }
}
