<!-- Generated template for the ItemListingComponent component -->
<ion-item-sliding (click)="showItemDetails()">
  <ion-item>
    <ion-avatar item-start>
      <img [src]="data.image_url">
    </ion-avatar>
    <h2>{{data.name}} ({{data.rating}})</h2>
    <p>{{data.person_name}} / {{data.radius}} mi</p>
    <button ion-button small item-end>
      {{data.credit}} Credits
    </button>
  </ion-item>

  <ion-item-options>
    <button ion-button color="secondary">
      <ion-icon name="send"></ion-icon>
      Contact
    </button>
  </ion-item-options>
</ion-item-sliding>
