// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'raleway';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/raleway-regular/raleway-regular.eot');
  src: url('../assets/fonts/raleway-regular/raleway-regular.eot?#iefix') format('embedded-opentype'),
  local('Lato Light'),
  local('Lato-300'),
  url('../assets/fonts/raleway-regular/raleway-regular.woff') format('woff'),
  url('../assets/fonts/raleway-regular/raleway-regular.ttf') format('truetype'),
  url('../assets/fonts/raleway-regular/raleway-regular.svg#Lato') format('svg');
}

.platform-ios.platform-cordova:not(.fullscreen) .app-header {
     margin-top: 20px; /*todo: change to $ios-statusbar-height?*/
}

ion-header{
  &.header-md::after{
    left: 0;
    bottom: 0;
    background: 0;
    position: absolute;
    width: 100%;
    height: 0;
    content: "";
  }

  &.with-app-bar{
    top: 80px;
  }
  ion-navbar{
    .toolbar-background{
      background: #ffffff;
      border-color: rgba(0, 0, 0, 0.15) !important;
      border-width: 0 0 0.55px !important;
      border-style: solid;
    }
    &.toolbar-md{
      min-height: 44px;
    }
    ion-title{
      .toolbar-title{
        color: map-get($colors, primary);
        font-weight: 300;
        font-size: 1.5rem;
      }
      &.centered-title{
        .toolbar-title{
          color: map-get($colors, primary);
          font-weight: 300;
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}

ion-content{
  &.with-app-bar{
    top:80px;
    height: calc(100% - 80px)
  }
}
