activity-item {
  button {
    ion-thumbnail{
      width: 7rem !important;
      height: 7rem !important;
      padding: 8px 8px 8px 8px !important;
      margin: 0 0 0 8px !important;
      background-color: white;
      text-align: center;
      .image{
        border-radius: 4px;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width:100%;
      }
    }
    &.item-ios{
      padding: 0;
    }
    &.item-md{
      padding: 0;
    }
    .item-inner {
      padding-left: 12px;
      background-color: map-get($colors, white);
      h2{
        font-weight: bold;
        font-size: 1.5rem;
      }
      h3{
        font-size: 1.1rem;
        min-height: 1.7rem;
        color: map-get($colors, brown);
        &.denied{
          color: map-get($colors, dark-gray);
        }
        &.accepted{
          color: map-get($colors, green);
        }
      }
      p{
        font-size: 1.2rem;
      }
      .description{
        // min-height: 3rem;
        max-height: 4rem;
      }
      .action-buttons{
        button {
          display: block;
          min-width: 5.5em;
          &.button-round-md {
            padding: 0 1.1rem;
          }
          &.button-round-ios {
            padding: 0 1.1rem;
          }
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
