<!-- Generated template for the ActivityItemComponent component -->
<!--1-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'requested' && data.order.borrower_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3>Request Sent</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--1-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'requested' && data.order.borrower_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3>Request Sent</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--2-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'requested' && data.order.lender_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3>Borrow Request</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'request_confirmed');">
      Accept
    </button>
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'request_denied');">
      Deny
    </button>
  </div>
</button>

<!--2-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'requested' && data.order.lender_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3>Borrow Request</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'request_confirmed');">
      Accept
    </button>
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'request_denied');">
      Deny
    </button>
  </div>
</button>

<!--3-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.order.status == 'request_denied' && data.identity == 'borrower' && data.order.borrower_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3 class="denied">Request Denied</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--3-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.order.status == 'request_denied' && data.identity == 'borrower' && data.order.borrower_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3 class="denied">Request Denied</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--3-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.order.status == 'request_denied' && data.identity == 'lender' && data.order.lender_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3 class="denied">Request Denied</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--3-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.order.status == 'request_denied' && data.identity == 'lender' && data.order.lender_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3 class="denied">Request Denied</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>


<!--4-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'request_confirmed' && data.order.borrower_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3 class="accepted">Request Accepted</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--4-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'request_confirmed' && data.order.borrower_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3 class="accepted">Request Accepted</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--5-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'request_confirmed' && data.order.lender_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3>Item to Lend Out</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'item_borrowed')">
      Handed to<br />Borrower
    </button>
  </div>
</button>


<!--5-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'request_confirmed' && data.order.lender_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3>Item to Lend Out</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'item_borrowed')">
      Handed to<br />Borrower
    </button>
  </div>
</button>

<!--6-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'item_borrowed' && data.order.lender_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3>Waiting for Borrower's Confirmation</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--6-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'item_borrowed' && data.order.lender_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3>Waiting for Borrower's Confirmation</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--7-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'item_borrowed' && data.order.borrower_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3>Item Handed Out from Lender</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'item_received')">
      Received<br />Item
    </button>
  </div>
</button>

<!--7-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'item_borrowed' && data.order.borrower_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3>Item Handed Out from Lender</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'item_received')">
      Received<br />Item
    </button>
  </div>
</button>

<!--8-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'item_received' && data.order.lender_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3>Lending</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--8-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'item_received' && data.order.lender_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3>Lending</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--9-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'item_received' && data.borrower_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3>Borrowing</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'item_returned')">
      Returned to<br />Lender
    </button>
  </div>
</button>

<!--9-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'item_received' && data.borrower_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3>Borrowing</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'item_returned')">
      Returned to<br />Lender
    </button>
  </div>
</button>

<!--10-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'item_returned' && data.order.borrower_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3>Waiting for Lender's Confirmation</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--10-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'borrower' && data.order.status == 'item_returned' && data.order.borrower_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3>Waiting for Lender's Confirmation</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--11-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'item_returned' && data.order.lender_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3>Item Returned from Borrower</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'return_confirmed')">
      Received<br />Item
    </button>
  </div>
</button>

<!--11-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.identity == 'lender' && data.order.status == 'item_returned' && data.order.lender_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3>Item Returned from Borrower</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>

  <div item-end class="action-buttons">
    <button ion-button small round (click)="reserve($event); performAction(data.order.key, 'return_confirmed')">
      Received<br />Item
    </button>
  </div>
</button>

<!--12-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.order.status == 'return_confirmed' && data.identity == 'borrower' && data.order.borrower_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3 class="denied">Item Returned</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--12-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.order.status == 'return_confirmed' && data.identity == 'borrower' && data.order.borrower_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3 class="denied">Item Returned</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--12-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.order.status == 'return_confirmed' && data.identity == 'lender' && data.order.lender_has_read == true">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveSeen">{{data.item.name}}</h2>
  <h3 class="denied">Item Returned</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>

<!--12-->
<button ion-item detail-none no-lines (click)="markAsRead()"
        *ngIf="data.order.status == 'return_confirmed' && data.identity == 'lender' && data.order.lender_has_read == false">
  <ion-thumbnail item-start>
    <div class="image" [ngStyle]="{'background-image':'url(' + data.item.image_url +')'}"></div>
  </ion-thumbnail>
  <h2 class="haveNotSeen">{{data.item.name}}</h2>
  <h3 class="denied">Item Returned</h3>
  <p class="description">Date: {{startDate}} - {{endDate}}</p>
  <p>{{data.borrower.user_email}}</p>
</button>
